/lab5_skeleton/build/
/lab5_skeleton/nbproject/private/
/Ecommerce/build/
/Ecommerce/nbproject/private/
/SocialMedia/nbproject/private/
/Assignment4_titanic/build/
/Assignment4_titanic/nbproject/private/
/TravelAgency/nbproject/private/